*{
	margin: 0;
	padding: 0; 
}

body {
	font-family: Arial, Helvativa, sans-serif;
	background: #333;
	color: #f5f4ed;
	line-height: 1.6;
	height: 100vh;
	/*css smooth scroll */
	/*overflow: hidden;*/
}

.container {
	width: 100%;
	height: 100%;
	/*Css smoth scroll*/
/*	overflow-y: scroll;
	scroll-behavior: smooth;*/ /*not cross browser compatible*/
	
}

header  {
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 4em;
	display: flex;	
	border-bottom: .2em solid rgba(0, 0, 0, 0.9);
	background-color: rgba(0, 0, 0, 0.7);
}

header  ul{
	display: flex;
	list-style: none;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

header  ul li {
	margin: 0 1em;
	padding: 1em;
}

header  ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #f4f4f4
}

header  ul li a:hover{
	color: skyblue;
}


section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100vh;
	
}

section h1 {
	font-size: 4rem;
}

section p {
	font-size: 1.5rem;
}	


/*background styles*/
section#home{
	background: #fcba03;
}


section#About{
	border:10px solid red/;
	background: #88fc03;
}


section#Services{
	background: #03fc5e;
}


section#Contact{
	background: #03adfc;
}


