/*FOnt*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/*reset*/
*{
	margin: 0;
	padding: 0; 
}

body {
	background-color: #f7f8fc;
	color: #141c2c;
	font-family: 'Open Sans', Sans-Serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

@media (min-width: 768px){
	body {
		height: 100vh;
	}
	
}

a {
	color: #2762eb;
	text-decoration: none;
}

.container {
	background: #fff;
	border: 1.3em solid #dce7ff; 
	border-radius: .2em;
	width: 1000px;
	max-width: 100%;
	display: flex;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

form{
	border-right: 1px solid #ecf2ff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3.4em;
	flex: 1;
}

.form-control{
	margin: .6em 0;
	width: 100%;
}

label{
	display: inline-block;
	font-weight: bold;
	margin-bottom: .3em;
}

input:not([type='checkbox']){
	background: transparent;
	border: .1em sold red;
	border-radius: .2em;
	font-family: inherit;
	font-size: .6rem;
	padding: .6em;
	width: 100%;
}


.checkbox-container {
	display: flex;
	justify-content: space-between; 
	font-size: .8em;
	margin-bottom: .9em;
	width: 100%;
}
.checkbox-container label {
	position: relative;
	bottom: .2em;
	color: #7a7e8c;
	font-weight: normal;
	margin-left: .2em;
}

.checkbox-container a {
	position: relative;
	bottom: .2em;
	margin-left: auto;
}



.btn {
	cursor: pointer;
	background: #141c2c;
	border: 2px solid #141c2c;
	border-radius: .2em;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: inherit;
	font-weight: bold;
	font-size: .8rem;
	margin: 1.3em 0;
	padding: .6em;
	width: 100%;
}

.btn-ghost {
	background: transparent;
	border-color: #ecf2ff;
	color: #141c2c;
}

.btn img {
	margin-right: .3em;
	width: 1.4em; 
}

.features {
	flex: 1.5;
	padding: 3.4em;
}

.feature {
	padding-left: 1.8em;
	position: relative;
	margin: 3.4em 0;
}

.feature i {
	color: #2762eb;
	position: absolute;
	top: .3em;
	left: 0;
}

.feature h3 {
	margin: 0;
}

.feature p{
	font-size: .8em;
	line-height: 1.8;
	margin: .3em 0;
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	
	form {
		border-right: 0;
	}
}